<?xml version="1.0" encoding="UTF-8"?>

<plugin>
	<!-- Main plugin class -->
    <class>ua.com.okam1.AnnouncementPlugin</class>
    <name>Announcement Service</name>
    <description>Send announcements to users in network</description>
    <author>Volodya Chornenkiy</author>
    <version>1.0.0</version>
    <date>6/9/2015</date>
    <minServerVersion>3.7.0</minServerVersion>
	<url>https://github.com/okam1/AnnouncementPlugin</url>
	<license>gpl</license>
	
	<!-- Admin console entries -->
    <adminconsole>
        <tab id="announcementTab" name="Announcements" url="main.jsp" description="Click to manage...">
            <sidebar id="mysidebar" name="My Plugin">
               <item id="my-plugin" name="My Plugin Admin"
                   url="main.jsp"
                   description="Click to administer settings for my plugin" />
            </sidebar>
        </tab>

    </adminconsole>
</plugin>